{% extends 'basic.html' %}

{% block content %}
<div style="background-color: #eee; display: flex; justify-content: center; align-items: center; height: 70vh; margin: 0;" >
<div style="background-color: white; padding: 20px;border: 2px solid black; border-radius: 10px  ">
    <h2 style="text-align: center;">Login</h2>
    <form action="#" method="post" style="text-align: center;">
        {% csrf_token %}
        {{mf.as_p}}
        <input type="submit" value="Login" style="padding: 10px 20px; border-radius: 5px; border: none; cursor: pointer;" class="btn btn-success">
        <a href="{% url 'signup' %}"><input type="button" value="Sign up" style="padding: 10px 20px;border-radius: 5px;margin-left: 80px; border: none;" class="btn btn-success"></a>        
    </form>
    <br>

</div>
</div>

{% endblock content %}

