{% extends "basic.html" %}

{% block title %}<title>Shoe Details</title>{% endblock title %}

{% block content %}
<div class="container my-3">
    <div class="card">
        <div class="container-fliud">
            <div class="wrapper row">
                <div class="preview col-md-5 ">                    
                    <div class="preview-pic tab-content my-5 ms-5">
                        <div class="tab-pane active" id="pic-1">
                            <img src="{{pd.shoe_image.url}}" />
                        </div>
                    </div>                                        
                </div>
                <div class="details col-md-7 my-3">
                    <h3 class="product-title">{{pd.name}}</h3>                    
                    <div class="rating">
                        <div class="stars">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        <span class="review-no">41 reviews</span>
                    </div>
                    <p class="product-description">{{pd.small_description}}</p>
                    <p>Suspendisse quos? Tempus cras iure temporibus? Eu laudantium cubilia sem sem! Repudiandae et! Massa senectus enim minim sociosqu delectus posuere.</p>
                    <h4 class="price">Current price: <span><i class="fa-solid fa-indian-rupee-sign"></i>{{pd.discounted_price}}</span></h4>
                    <p class="vote"><strong>91%</strong> of buyers enjoyed this product! <strong>(87 votes)</strong></p>
                    <h5 class="sizes">sizes:
                        <span class="size" data-toggle="tooltip" title="small">'S'</span>
                        <span class="size" data-toggle="tooltip" title="medium">'M'</span>
                        <span class="size" data-toggle="tooltip" title="large">'L'</span>
                        <span class="size" data-toggle="tooltip" title="xtra large">'XL'</span>
                    </h5>                    
                    <div class="action my-3">
                        <div class="text-start ">
                            <h4 class="font-weight-bold"><i class="fa-solid fa-indian-rupee-sign"></i>{{pd.discounted_price}} <small class="fw-light rupee"><del class="text-danger">{{pd.selling_price}}</del></small> <small class="text-danger">({{percentage}}% off)</small></h4> 
                        </div>
                        <button class="add-to-cart btn btn-default" type="button"><a href="{% url 'addtocart' pd.id %}" class="btn btn-success my-2 mr-2">Add to cart</a></button>
                        <button class="add-to-cart btn btn-default" type="button"><a href="{% url 'buynow' pd.id %}" class="btn btn-danger my-2">Buy Now</a></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    
{% endblock content %}